:root {
  --italianRed: rgb(173, 23, 31);
}

body {
  font-family: "Roboto Slab", serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(199, 199, 199, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Buttons */
header {
  display: flex;
  gap: 50px;
  margin-top: 40px;
  background-color: rgba(216, 216, 216, 0.9);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px 0px rgb(128, 128, 128, 0.7);
}

#home-button,
#menu-button,
#about-button {
  font-family: "Open Sans", sans-serif;
  display: flex;
  color: var(--italianRed);
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  width: 100px;
  outline: transparent;
  background-color: rgba(184, 21, 88, 0);
  border: none;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 0px 2px var(--italianRed);

  transition-duration: 150ms;
  justify-content: center;
}

#home-button:hover,
#menu-button:hover,
#about-button:hover {
  color: rgb(248, 54, 54);
  text-shadow: 3px 0px 2px rgb(248, 54, 54);
}

#content {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 5px;
  background-color: rgba(216, 216, 216);
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;
}

/* home-content */

p,
h1,
h2,
h4 {
  font-family: "Dancing Script", cursive;
  font-size: 1.9rem;
  color: rgb(68, 67, 67);
}

.home-intro-text {
  margin-inline: 300px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 60px;
}

.home-header {
  font-size: 3rem;
  color: var(--italianRed);
}

.home-header-wrapper {
  position: relative;
  margin-bottom: 60px;
}

.home-header-established {
  position: absolute;

  font-size: 1.3rem;
  bottom: -4%;
  left: 75%;
  color: rgb(68, 67, 67);
}

.business-logo {
  border-radius: 5px;
}

.grandfather-img {
  height: 400px;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 60px;
}

.opening-hours-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding-block: 20px;
  padding-inline: 60px;
  backdrop-filter: blur(10px);
  margin-top: 30px;
}

img {
  height: 350px;
  width: 400px;
  border-radius: 5px;
}

/* menu content */

.menu-header {
  font-size: 3rem;
  color: var(--italianRed);
}

.pasta-card {
  background-color: rgb(238, 238, 238);
  padding: 30px;
  border-radius: 10px;
}
