body {
  font-family: "Roboto Slab", serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(218, 218, 218);
  /* background-image: url(../src/images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
header {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

#home-button,
#menu-button,
#about-button {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  color: rgb(196, 12, 12);
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  width: 100px;
  outline: transparent;
  background-color: rgb(255, 255, 255, 0);
  border: none;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 0px 2px rgb(173, 23, 31);
}

#home-button:hover,
#menu-button:hover,
#about-button:hover {
  color: rgb(248, 54, 54);
  text-shadow: 3px 0px 2px rgb(248, 54, 54);
}

/* #home-button::after,
#menu-button::after,
#about-button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(173, 23, 31);
  transition: width 0.3s;
}
#home-button:hover::after,
#menu-button:hover::after,
#about-button:hover::after {
  width: 100%;
  transition: width 0.3s;
} */

#content {
  display: flex;
  height: 90vh;
  width: 90%;
  border-radius: 5px;
  background-color: rgba(233, 233, 233, 0.9);
  justify-content: center;
}

.home-header {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  color: rgb(173, 23, 31);
}
